:root {
  --primary: #16dec0;
  --primary-text: #1a1a1a;
  --secondary: #eb9234;
  --secondary-text: #000000;
  --accent: #d33c3c;
  --accent-text: #23e2e2;
}


body {
  background-image: url(../bg3.png);
}